<h1>Listing contacts</h1>



Jakiś avatar gościa co to stworzył<%=gravatar_image_tag('spam@spam.com'.gsub('spam', 'mdeering'), :alt => 'Michael Deering')%><br>
<% @contacts.each do |contact| %>
  <table>
    <tr>
      <td><%= gravatar_image_tag(contact.email, :alt => default_gravatar_image) %></td>
    </tr>
    <tr>
      <td>Imie</td><td><%=h contact.imie %></td>
    </tr>
    <tr>
      <td>Nazwisko</td><td><%=h contact.nazwisko %></td>
    </tr>
    <tr>
      <td>Email</td><td><%=h contact.email %></td>
    </tr>
    <tr>
      <td>Tel</td><td><%=h contact.tel %></td>
    </tr>
    <tr>
      <td><%= link_to 'Show', contact %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  </table>
  <br>
  <br>

<% end %>

<br />
Tu powinna być nazwa miasta: <%= @location.city %><br />
<br />

<%= link_to 'New contact', new_contact_path %>