<h1>New contact</h1>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :imie %><br />
    <%= f.text_field :imie %>
  </p>
  <p>
    <%= f.label :nazwisko %><br />
    <%= f.text_field :nazwisko %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contacts_path %>